 figcaption.fig1 {
    background-color: white;
    color: rgb(0, 0, 0);
    
    padding: 2px;
    position: absolute;
    left: 140px;
    
  }

  figcaption.fig2 {
    background-color: white;
    color: rgb(0, 0, 0);
    
    padding: 2px;
    position: absolute;
    right: 200px;
    
  }
  
.flex-container {
    display: flex;
    flex-direction: row;
}

.plot1a {
    flex: 1;
    
}  

.plot1b {
  flex: 2;
  
} 

@media screen and (max-width: 768px) {
  figcaption.fig1 {
    background-color: white;
    color: rgb(0, 0, 0);
    
    
    position: absolute;
    left: 100px;
    
  }

  figcaption.fig2 {
    background-color: white;
    color: rgb(0, 0, 0);
    
    
    position: absolute;
    left: 100px;
    
  }
  .flex-container {
      display: flex;
      flex-direction: column;
  }
  
  .plot1a {
      flex: 1;
      
      padding-bottom: 20px;
  }  
  
  .plot1b {
    flex: 2;
    
    padding-top: 20px;
  } 
  
}